{{!-- <!DOCTYPE html>
<html lang="en"> --}}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GTCookies</title>
  
  <link rel="stylesheet" href="/css/style.css ">
  {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> --}}

</head>

<body>
  <br><br>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1 class="title is-1">
        <a href="/">Get These Cookies!</a>
    </h1> 

      <nav>
        <div class="div is-centered is-2">
        <!-- Conditionally render login or logout links -->
        <a href="/login">login </a>
        <a href="/login">sign up</a>
        <a href="/dashboard">dashboard </a>
        <a href="/">homepage</a>
        {{!-- {{/if}} --}}
        </div>
      </nav>

    </header>
    <main class="container container-fluid mt-5">
      <div>
      {{{ body }}}
      </div>
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

{{!-- </html> --}}
