<!-- Loop over each object in the projects array -->
{{#each posts }}
<card = class "card">
  <br>
  <div class= "is primary">
    <p>{{title}}</p>
  </div>
<br>
  <div class= "is link">
    <p>{{postbody}}</p>
  </div>
<br>
  <div class= "is primary">
    <p>{{date_created}}</p>
  </div>

</card>
{{/each}}