<!-- Loop over each object in the projects array -->
{{#each posts }}
<card = class "card">
  <br>
  <div>
    <p>{{title}}</p>
  </div>
<br>
  <div>
    <p>{{postbody}}</p>
  </div>
<br>
  <div>
    <p>{{date_created}}</p>
  </div>

</card>
{{/each}}