.div {
  display: inline-block;
  background: #c43283;
  color: #ffffff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
  text-align: center ;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  a,
  .btn,
  button,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Italiana', serif;
  }
  
  p {
    color: #404040;
  }
  
  /* NavBar Border Box On Hover */
  
  #menuItems {
    margin-top: -12px;
  }
  
  #MenuItems a {
    border: 5px solid #ffffff;
    color: #000000;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
  }
  
  #MenuItems a:hover,
  a:focus,
  a:active {
    box-shadow: 0 0 0 1px hsl(0, 0%, 0%);
  }
  
  a:active {
    cursor: wait;
  }

  /* Login Page Styling */
  
  .btn {
    display: inline-block;
    background: #1688ca;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
  }
  
  .btn:active {
    cursor: wait;
  }
  
  .btn:hover,
  .btn:focus,
  .btn:active {
    background: #2baae6;
  }
  
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
  }
  
  form .btn:focus {
    outline: none;
  }
  
  .form-btn {
    display: inline-block;
  }
  
  .form-container {
    background: #ffffff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .form-container form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 75px;
    transition: transform 1s;
  }
  
  .form-container span {
    font-weight: bold;
    padding: 0 10px;
    color: #808080;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  
  form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #404040;
  }
  
  form input:focus {
    outline: none;
  }
  
  #indicator {
    width: 100px;
    border: none;
    background: #498dcc;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
  }
  
  #LoginForm {
    left: -300px;
  }
  
  .login-page {
    padding: 50px 0;
    background: #ffffff;
  }
  
  #RegForm {
    left: 0;
  }
  
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  /* Navigation Bar Styling */
  
  .menu-icon {
    display: none;
    width: 28px;
    margin-left: 20px;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  
  nav ul {
    display: inline-block;
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  /* Footer Styling */
  
  .app-logo {
    margin-top: 20px;
  }
  
  .app-logo img {
    display: block;
    margin-bottom: 20px;
    width: 140px;
  }
  
  .copyright {
    text-align: center;
  }
  
  .footer {
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    padding: 60px 0 20px;
  }
  
  .footer hr {
    border: none;
    background: #bfbfbf;
    height: 1px;
    margin: 20px 0;
  }
  
  .footer h3 {
    color: #189ae0;
    margin-bottom: 20px;
  }
  
  .footer li {
    display: block;
  }
  
  .footer p {
    margin-top: 80px;
    color: #404040;
  }
  
  .footer-col1 {
    flex-basis: 30%;
    margin-top: 48px;
  }
  
  .footer-col2,
  .footer-col3 {
    flex-basis: 12%;
    text-align: center;
  }
  
  .footer-col1,
  .footer-col2,
  .footer-col3 {
    min-width: 250px;
    margin-bottom: 20px;
  }
  
  /* Small Container */
  
  .small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 90px;
  }
  
  /* Products Styling */
  
  .page-btn {
    padding-top: 50px;
    margin: 0 auto 80px;
  }
  
  .page-btn span {
    display: inline-block;
    border: 1px solid #1673d7;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
  }
  
  .page-btn span:hover {
    background: #0c6ea3;
    color: #fff;
  }
  
  .row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
  }
  
  select {
    border: 1px solid #3d72a1;
    padding: 5px;
  }
  
  select:focus {
    outline: none;
  }
  
  .small-container-2 {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  /* Product Details Styling */
  
  input:focus {
    outline: none;
  }
  
  .relative-positioning {
    position: relative;
    top: -30px;
  }
  
  .single-product {
    margin-top: 80px;
  }
  
  .single-product .col-2 {
    padding: 20px;
  }
  
  .single-product .col-2 img {
    padding: 0;
  }
  
  .single-product .fa {
    color: #277baf;
    margin-left: 10px;
  }
  
  .single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
  }
  
  .single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #3482c1;
  }
  
  .single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
  }
  
  .small-container-3 {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .small-img-col {
    flex-basis: 24%;
    cursor: pointer;
  }
  
  .small-img-row {
    display: flex;
    justify-content: space-between;
  }
  
  /* Home Page Styling */
  
  .header {
    background: #ffffff;
  }
  
  #relative-positioning {
    position: relative;
    top: 30px;
  }
  
  .relative-positioning-2 {
    position: relative;
    top: -60px;
  }
  
  /* Featured Products */
  
  .col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
  }
  
  .col-4:hover {
    transform: translateY(-5px);
  }
  
  .col-4 img {
    width: 100%;
  }
  
  .col-4 p {
    font-size: 14px;
  }
  
  h1 {
    margin-bottom: 16px;
  }
  
  h4 {
    color: #000000;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  .title {
    text-align: center;
    margin: 0px auto 80px;
    position: relative;
    line-height: 60px;
    color: #000000;
  }
  
  .title::after {
    content: '';
    background: #b71948;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Special Offer */
  
  .col-2 .offer-img {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -60px;
  }
  
  .offer {
    background: #ffffff;
    margin-top: 80px;
    padding: 30px 0;
  }
  
  small {
    color: #404040;
  }
  
 
  